@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/angular.js"></script>

<script src="~/Angular/Router.js"></script>
<script src="~/Angular/ChessService.js"></script>
<script src="~/Angular/ChessController.js"></script>

<div ng-app="csChessApp">

    <div ng-view>

    </div>

</div>

