@model Chess.Data.Entities.Challenge

@{
    ViewBag.Title = "Challenge Accepted";
}

<h2>Challenge Declined...</h2>

<h5>You have declined this challenge! You coward!</h5>

<p>Go to your @Html.ActionLink("Play", "Play", "Home") tab to choose a game.</p>