<style>
    .row {
        height: 80px;
        padding: 0;
        margin: 0;
    }

    .square {
        width: 80px;
        height: 80px;
        padding: 0;
        margin: 0;
        display: inline-block;
    }

        .square.dark {
            background-color: #888888;
        }

    .ready {
        background-color: yellow;
    }

    .destination {
        background-color: green;
    }

    .ChessBoard {
        margin-top: 10px;
        float: left;
    }

    .commit {
        float: left;
        margin-top: 10px;
        margin-left: 10px;
    }
</style>


<table class="ChessBoard">
    <tr ng-repeat="row in game.Board.Squares" class="row">
        <td ng-repeat="square in row"
             ng-class="{ 'dark': isDark(square), 'ready': isReady(square), 'destination': isDestination(square) }"
             ng-click="setFocus(square)" class="square">
                <img ng-class="{ 'empty': !isOccupied(square) }" ng-src="{{pieceImage(square.ChessPiece)}}" />
        </td>
    </tr>
</table>


<button class="commit btn btn-lg btn-success" ng-click="MakeMove()">Commit Move</button>
