@model IEnumerable<ChessSharp.Web.Models.ActiveGameViewModel>

@{
    ViewBag.Title = "Play";
}

@Scripts.Render("~/bundles/play-angular")

<div ng-app="csPlayChessApp">

    <div ng-view>
    </div>

</div>

