@model IEnumerable<ChessSharp.Web.Models.ActiveGameViewModel>

@{
    ViewBag.Title = "Play";
}

<h2>Play</h2>

@Scripts.Render("~/bundles/play-angular")

<div class="chess-container" ng-app="csPlayChessApp">


    <div ng-view>
    </div>

</div>

