@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chess Sharp</h1>
    <p class="lead">Chess Sharp is a an MVC application written with Angular for the front end. 
    Sign up and play your friends in brutal games of chess.</p>
    <p><a href="http://angularjs.org/" target="_blank" class="btn btn-primary btn-large">Learn more about Angular &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Register in the top right corner, go to the challenge page, and choose a friend!</p>
    </div>
    <div class="col-md-4">
        <h2>Learn the basics</h2>
        <p>Whether you're brand new, play occasionally, or are a seasoned master,
        Chess.com is a great place to learn.</p>
        <p><a class="btn btn-default" target="_blank" href="http://www.chess.com/learn-how-to-play-chess">Learn the game &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Discuss and Philosophize</h2>
        <p>Stack Exchange is a great framework which allows passionate communities to build huge knowledge bases.
        Sign up and contribute!</p>
        <p><a class="btn btn-default" target="_blank" href="http://chess.stackexchange.com/">Discuss &raquo;</a></p>
    </div>
</div>