@model IEnumerable<ChessSharp.Web.Models.GamePreviewViewModel>

@{
    ViewBag.Title = "Play";
}

<div>

    <div ng-view>
    </div>

</div>

@section scripts
{
    <script type="text/javascript">
        $("footer").hide();
    </script>
}
