
.completed-notification {
    text-align: center;
    padding: 0;
    margin: 0;
}

    .completed-notification label {
        padding: 0;
        margin: 0;
        font-size: large;
    }

.game-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: #000;
    z-index: 999;
    margin: 0;
    overflow: hidden;
}

    .game-bar .select {
        float: left;
        display: inline-block;
    }

    .game-bar select {
        width: 350px;
    }

    .game-bar button {
        height: 80%;
    }

    .game-bar .commit {
        float: right;
        margin-right: 3px;
    }

.row {
    margin: 0;
    padding: 0;
}

.square {
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    display: inline-block;
}

@media (max-width: 850px) {
    .square {
        width: 55px;
        height: 55px;
    }
}


@media (max-width: 700px) {
    .square {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 600px) {
    .square {
        width: 47px;
        height: 47px;
    }
}

@media (max-width: 500px) {
    .square {
        width: 42px;
        height: 42px;
    }

    .game-bar {
        text-align: center;
    }

        .game-bar .select {
            width: 90%;
            float: none;
        }

        .game-bar select {
            width: inherit;
            float: none;
        }

        .game-bar button {
            width: 100%;
            margin-top: 3px;
            float: none;
        }
}

@media (max-width: 400px) {
    .square {
        width: 36px;
        height: 36px;
    }

    .row {
        display: block;
        width: 290px;
    }
}

.chessboard {
    margin: auto;
}

.chessbox {
    margin-top: 15px;
    clear: both;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.alert-bar {
    height: 25px;
    margin: 0;
    padding: 0;
    padding-top: 3px;
}

.chessboard .square img {
    display: none;
    margin: 0;
    padding: 0;
}

.chessboard img.occupied {
    max-width: 98%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.square.dark {
    background-color: #888;
}

.ready {
    background-color: yellow;
}

.destination {
    background-color: green;
}

.player-names {
    /*text-align: center;*/
    position: relative;
}

    .player-names div {
        text-align: center;
    }

    .player-names .turn-notifier {
        font-size: large;
        padding: 0;
        color: #008000;
    }

    .player-names .light {
        left: 0;
        top: 0;
        position: absolute;
        z-index: 500;
    }

    .player-names .dark {
        right: 0;
        top: 0;
        position: absolute;
        z-index: 500;
    }
