table.ChessBoard tr td
{
    width: 80px;
    height: 80px;
    margin: 4px;
    background-color: Gray;   
}

.readyToMove
{
    outline: yellow solid 3px;
}

.movedTo
{
    outline: white solid 3px;
}

.movedFrom
{
    outline: blue solid 3px;
}

table.ChessBoard tr td.b
{
    background-color: black;   
}

table.ChessBoard tr td.w
{
    background-color:Olive;   
}