<link href="../../Content/ChessBoard.css" rel="stylesheet" />

<div class="game-bar">
    <div class="select">
        <select ng-model="selectedGame" ng-options="g.display for g in currentGames"></select>
        <button ng-click="getGame()" class="btn btn-primary btn-sm">Change Game</button>
    </div>
    <div class="current">
        Playing {{game.Name}} - {{game.PlayerLight.DisplayName}}(Light) VS {{game.PlayerDark.DisplayName}}(Dark)
    </div>
    <button class="commit btn btn-success" ng-disabled="!canMakeMove()" ng-click="MakeMove()">Commit Move</button>
</div>

<div class="chessbox" ng-show="game.Id > 0">
    <div class="alert-bar">
        <div ng-show="Failure" class="alert-danger" style="margin:0; padding:0;">
            {{Failure}}
        </div>
    </div>
    <table class="chessboard" style="margin:0; padding:0;">
        <tr ng-repeat="row in game.Board.Squares" class="row">
            <td ng-repeat="square in row"
                ng-class="{ 'dark': isDark(square), 'ready': isReady(square), 'destination': isDestination(square) }"
                ng-click="setFocus(square)" class="square">
                <img ng-class="{ 'empty': !isOccupied(square) }" ng-src="{{pieceImage(square.ChessPiece)}}" />
            </td>
        </tr>
    </table>

</div>

<div ng-hide="game.Id > 0">
    <h3>Please Select a Game</h3>
    <p>
        If you do not have any current games:
        You may <a href="/Challenge">challenge</a> another player,
        or accept any challenges currently extended to you.
    </p>
</div>

