<link href="../../Content/ChessBoard.css" rel="stylesheet" />

<div class="game-bar" ng-if="!$root.isDisplayOnly">
    <button class="commit btn btn-success" ng-disabled="!canMakeMove()" ng-click="MakeMove()">Commit Move</button>
</div>

<div class="chessbox" ng-show="game.Id > 0">
    <div class="alert-bar">
        <div ng-show="Failure" class="alert-danger">
            <b>{{Failure}}</b>
        </div>
        <div class="completed-notification" ng-show="game.Complete">
            <label ng-show="game.Winner">Checkmate! {{game.Winner.DisplayName}} wins!</label>
            <label ng-show="!game.Winner">This game is a Draw</label>
        </div>
    </div>

    <table class="chessboard">
        <tr ng-repeat="row in game.Board.Squares" class="row">
            <td ng-repeat="square in row"
                ng-class="{ 'dark': isDark(square), 'ready': isReady(square), 'destination': isDestination(square) }"
                ng-click="!$root.isDisplayOnly && setFocus(square)" class="square">

                <cs-piece piece="square.ChessPiece"></cs-piece>

            </td>
        </tr>
    </table>
    <div class="player-names" ng-if="!$root.isDisplayOnly">
        <label class="light">Light: {{game.PlayerLight.DisplayName}}</label>
        <div><label class="turn-notifier" ng-show="game.IsCurrentPlayersMove && !game.Complete">Your move!</label></div>
        <label class="dark">Dark: {{game.PlayerDark.DisplayName}}</label>
    </div>
</div>



<div ng-hide="game.Id > 0 || $root.isDisplayOnly">
    <h3>Please Select a Game</h3>
    <p>
        If you do not have any current games:
        You may <a href="/Challenge">challenge</a> another player,
        or accept any challenges currently extended to you.
    </p>
</div>

